<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CompanyOS Admin</title>
    
    {# CoreUI CSS #}
    <link rel="stylesheet" href="{{ asset('bundles/companyosbackend/build/css/coreui.min.css') }}">
    
    {# Custom CSS #}
    <link rel="stylesheet" href="{{ asset('bundles/companyosbackend/build/app.css') }}">
</head>
<body>
    <div id="app"></div>
    
    {# CoreUI JS #}
    <script src="{{ asset('bundles/companyosbackend/build/js/coreui.bundle.min.js') }}"></script>
    
    {# Vue App #}
    <script src="{{ asset('bundles/companyosbackend/build/app.js') }}"></script>
</body>
</html> 