<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CompanyOS Admin</title>
    {{ encore_entry_link_tags('companyosbackend') }}
</head>
<body>
    <div id="app"></div>
    {{ encore_entry_script_tags('companyosbackend') }}
</body>
</html>
